.illustration_name_main {
    max-width: 80%;
}

.illustration {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 600px;
    margin: 0 auto;
    -ms-flex-align: center;
    align-items: center;
}

.illustration_name_main .illustration__stripe-blue {
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-bottom: -36%;
    margin-left: -50%;
    padding-top: 31.5%;
    width: 100%;
    transform: skewY(-30deg);
    border-radius: 4px;
    background-image: linear-gradient(70deg,rgba(0,255,187,.5) 10%,#0070f0,rgba(0,255,255,.4)),linear-gradient(70deg,#0070f0,#0070f0);
    transform-origin: left;
}

.illustration_name_main .illustration__ball-small {
    position: absolute;
    top: 20%;
    left: -10%;
    width: 25.15%;
    animation: q 3.5s alternate both infinite;
}

.image {
    border: 0;
    display: block;
}

.illustration_name_main .illustration__phone-wrapper {
    position: relative;
    width: 100%;
    max-width: 521px;
}

.illustration_name_main .illustration__phone-wrapper:before {
    content: "";
    display: block;
    padding-top: 198.4%;
}

.illustration_name_main .illustration__phone {
    position: absolute;
    top: 0;
    width: 100%;
}

.illustration_name_main .illustration__card {
    display: block;
    position: absolute;
    top: 40%;
    left: 47%;
    width: 34.55%;
}

.illustration_name_main .illustration__ball-big {
    position: absolute;
    bottom: 12%;
    right: -8%;
    width: 41.26%;
    animation: q 3.2s alternate both infinite .3s;
}

.illustration_name_main .illustration__stripe-green {
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-bottom: -70%;
    margin-left: -50%;
    padding-top: 31.5%;
    width: 57.58%;
    transform-origin: right;
    transform: skewY(30deg);
    border-radius: 0 4px 4px 4px;
    background-image: linear-gradient(-130deg,#63ffdd,rgba(0,191,150,0)),linear-gradient(#00bf96,#00bf96);
    box-shadow: 0 0 40px rgba(99,255,221,.2);
}

@keyframes q {
    0% {transform: translateY(-20px);}
    100% {transform: translateY(20px);}
}