.form__logo {
    /* background-color:orange; */
    height: 32px;
    width: 140px;
}

.form__title {
    /* background-color: #0070f0; */
    font-size: 36px;
    height: 45px;
    margin: 25px 0 20px 0;
}

.pt-tabs-container {
    margin-bottom: 20px;
}

.title-text {
    /* background-color: #0070f0; */
    font-size: 14px;
    height: 21px;
    margin-bottom: 15px;
}

.pt-tabs {
    /* background-color: #1ebe7b; */
    height: 32px;
}

.pt-tabs-item {
    color: #0AC79E;
    text-decoration: none;
    padding: 7px 18px;
    margin-right: 10px;
}
.pt-tabs-item_selected {
    border: 1px solid #fefefe;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.9);
    cursor: default;
    text-decoration: none;
}

.text-field {
    background-color:#0f192e;
    border: 1px solid #fefefe;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    height: 32px;
    padding-left: 10px;
    width: 100%;
    margin-bottom: 14px;
}

.text-field::placeholder {
    color: rgba(255, 255, 255, 0.65);
}

.text-field:focus {
    border: 1px solid #0AC79E;
    outline: none;
}

.search-element__help-text {
    /* background-color: #0070f0; */
    height: 42px;
    font-size: 14px;
    line-height: 1.4;
}

.link {
    color: #0AC79E;
    text-decoration: none;
}

.account {
    margin-bottom: 30px;
}

.account__title-container {
    /* background-color: #0070f0; */
    height: 20px;
    margin: 0 0 16px 0;
}

.account__title {
    font-size: 16px;
    margin: 0;
}

.account__picker {
    background-color: #7ce2e6;
    height: 62px;
    width: 100%;
}

.btn-container {
    /* background-color: #0AC79E; */
    height: 40px;
    width: 100%; 
    margin-bottom: 14px;
}

.btn {
    font-size: 18px;
    width: 100%; 
    height: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
}

.btn_active {
    background-color: #0AC79E;
    color: rgba(255, 255, 255, 1);
}

.btn_active:hover {
    opacity: 0.95;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn_disabled {
    background-color: rgba(255, 255, 255, 0.1);;
    color: rgba(255, 255, 255, 0.3);
}




.help-text {
    height: 18px;
}






