html,body,.wrapper{
    background-color:#0f192e;
    height:100%;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

  div {
      display: block;
  }

  .wrapper{
    display: flex;
  }
  .col{
    display: inline-block;
    font-size: 16px;
  }
  .left{ 
     background-color:green; 
     flex-basis:35%;
     padding: 40px 100px 0px 100px; 
     min-height: 100%;
  }
.left-wrapper {
    background-color:rgb(214, 213, 133);  
    height: 100%;
    max-height: 100vh;
    width: 100%;
}

.logo {
    /* background-color:orange; */
    height: 32px;
    width: 140px;
}

.title {
    background-color: #0070f0;
    height: 45px;
    width: 250px;
    color: #fff;
    margin: 40px 0 20px 0;
}

.choose-element {
    margin-bottom: 20px;
}

.title-text {
    background-color: #0070f0;
    height: 21px;
    width: 226px;
    color: #fff;
    margin-bottom: 10px;
}

.choose {
    background-color: #1ebe7b;
    height: 32px;
    width: 215px;
}

.text-field {
    background-color: #eb86da;
    height: 32px;
    width: 100%;
    margin-bottom: 14px;
}
.search-element__help-text {
    background-color: #0070f0;
    height: 42px;
    width: 276px;
}

.account {
    margin-bottom: 30px;
}

.account__title {
    background-color: #0070f0;
    height: 20px;
    width: 284px;
    margin: 0 0 16px 0;
}

.account__picker {
    background-color: #7ce2e6;
    height: 62px;
    width: 100%;
}

.btn {
    background-color: #0AC79E;
    height: 40px;
    width: 100%; 
    margin-bottom: 14px; 
}

.help-text {
    height: 18px;
    width: 367px;
}

  .right{
    /* background-color:orange;   */
    display: flex;
    flex-basis: 65%;
  } 

  @media (max-width: 992px) {
    .right {
      display: none;
    }
    .left {
        flex-basis:100%;
    }
  }

  .right-wrapper {
      /* background-color: antiquewhite; */
    margin: auto;
    max-width: 430px;
  }

  .illustration_name_main {
    max-width: 80%;
}

.illustration {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 600px;
    margin: 0 auto;
    -ms-flex-align: center;
    align-items: center;
}

.illustration_name_main .illustration__stripe-blue {
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-bottom: -36%;
    margin-left: -50%;
    padding-top: 31.5%;
    width: 100%;
    transform: skewY(-30deg);
    border-radius: 4px;
    background-image: linear-gradient(70deg,rgba(0,255,187,.5) 10%,#0070f0,rgba(0,255,255,.4)),linear-gradient(70deg,#0070f0,#0070f0);
    transform-origin: left;
    animation: s .6s cubic-bezier(.39,.58,.57,1) both 1.2s;
}

.illustration_name_main .illustration__ball-small {
    position: absolute;
    top: 20%;
    left: -10%;
    width: 25.15%;
    animation: q 3.5s alternate both infinite;
}

.image {
    border: 0;
    display: block;
}

.illustration_name_main .illustration__phone-wrapper {
    position: relative;
    width: 100%;
    max-width: 521px;
}

.illustration_name_main .illustration__phone-wrapper:before {
    content: "";
    display: block;
    padding-top: 198.4%;
}

.illustration_name_main .illustration__phone {
    position: absolute;
    top: 0;
    width: 100%;
}

.illustration_name_main .illustration__card {
    display: block;
    position: absolute;
    top: 40%;
    left: 47%;
    width: 34.55%;
    animation: t .8s cubic-bezier(.44,0,.27,1.35) both 1.4s;
}

.illustration_name_main .illustration__ball-big {
    position: absolute;
    bottom: 12%;
    right: -8%;
    width: 41.26%;
    animation: q 3.2s alternate both infinite .3s;
}

.illustration_name_main .illustration__stripe-green {
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-bottom: -70%;
    margin-left: -50%;
    padding-top: 31.5%;
    width: 57.58%;
    transform-origin: right;
    transform: skewY(30deg);
    border-radius: 0 4px 4px 4px;
    background-image: linear-gradient(-130deg,#63ffdd,rgba(0,191,150,0)),linear-gradient(#00bf96,#00bf96);
    box-shadow: 0 0 40px rgba(99,255,221,.2);
    animation: r .6s cubic-bezier(.47,0,.65,.78) both .6s;
}



@keyframes q {
    0% {transform: translateY(-20px);}
    100% {transform: translateY(20px);}
}


